<div class="container">
	<div class="row">
		<div class="twelve columns center">
			<h2>New Project</h2>
			<div class="row">
				<div class="three columns">
					&nbsp;
				</div>
				<div class="six columns">
					<%= form_for @project, :html => { class: "input-custom"} do |f| %>
				    <%= f.hidden_field :user_id, :value => current_user.id %>
						<%= f.text_field :name, class: "u-full-width", placeholder: "name of project" %>
						<%= f.submit class:"button-primary" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>