<div class="container content">
	<div class="row">
		<div class="twelve column center">
		<%= link_to "/auth/github" do %>
			<img src="<%= image_path('github_icon.png') %>">
			<% end %>
		</div>
	</div>
</div>