<div class="container content">
  <div class="row">
    <div class="twelve column center">
      <h3>User Profile </h3>
      <div>Name : <b><%= @user.name %></b></div>
      <div>Username : <b><%= @user.username %></b></div>
      <div>Email : <b><%= @user.email %></b></div>
      <br>
      <%= link_to 'Back', project_path(@user.projects.first) %>
    </div>
  </div>
</div>