- if @saved_results_by_project.blank?
  %h6.noresult
    No saved results from topic #{search_item_topic(@search_items_id.to_i)}
- else
  .row
    .five.columns
      .row
        = render partial: 'repo', collection: @saved_results_by_project
    .four.columns
      .read-me
        %a#read-me-href-saved{:href => "", :target => "_blank"}
          %span#read-me-cache-name-saved