%h6.noresult-saved{style: "#{@saved_results_by_project.blank? ? '' : 'display: none'}"}
  No saved results from topic #{search_item_topic(@search_items_id.to_i)}
.row
  .five.columns
    .row.saved-repos
      = render partial: 'saved_repo', collection: @saved_results_by_project, as: :repo
  .four.columns
    .read-me
      %a#read-me-href-saved{:href => "", :target => "_blank"}
        %span#read-me-cache-name-saved
